/abstract/payette.aux
/abstract/payette.bbl
/abstract/payette.blg
/abstract/payette.fdb_latexmk
/abstract/payette.fls
/abstract/payette.log
/abstract/payette.out
/abstract/payette.pdf
/abstract/payette.synctex.gz
